@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================================================================================================
                                               FONTS
=========================================================================================================*/

@font-face {
  font-family: 'Star Jedi Outline';
  src: url('../../public/fonts/Starjout.ttf');
  font-weight: normal;
  font-style: normal;
}

/* =========================================================================================================
                                        BACKGROUND ANIMATION
=========================================================================================================*/

.stars,
.twinkling {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -10;
}

.stars {
  background: url(/images/stars.png) top center #000;
}

@keyframes move-twink {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1000px 5000px;
  }
}

.twinkling {
  background: url(/images/twinkling.png) top center;
  animation: move-twink 100s linear infinite;
}
